{% extends "base.html" %}
{% block content %}
        <!--h1>{{ object_list[0]['categories'] }}</h1-->
        <h1>Категории</h1>
        <h3><a href="/create_category">Создать категорию</a></h3>
        <table>
            <tr class="head">
                <th>ID</th>
                <th>Имя категории</th>
                <th>Курсы (кол-во)</th>
                <th></th>
                <th></th>
            </tr>
            {% if object_list[0]['categories'] %}
                {% for item in object_list[0]['categories'] %}
                <tr>
                    <th>{{ item.id }}</th>
                    <th>{{ item.name }}</th>
                    <th>{{ item.courses }}</th>
                    <th><a href="/category_details?id={{item.id}}">Список курсов</a></th>
                    <th><a href="/copy_category?id={{item.id}}">Копировать</a></th>
                </tr>
                {% endfor %}
            {% else %}
            <tr>
                <th>--------</th>
                <td>--------</td>
                <td>--------</td>
                <td>--------</td>
                <td>--------</td>
            </tr>
            {% endif %}

        </table>
        <hr>
        <h1>Курсы</h1>
        <table>
            <tr class="head">
                <th>ID</th>
                <th>Наименование курса</th>
                <th>Категория</th>
                <th></th>
                <th></th>
            </tr>
            {% if object_list[0]['courses'] %}
                {% for item in object_list[0]['courses'] %}
                    <tr>
                        <th>{{ item.id }}</th>
                        <th>{{ item.name }}</th>
                        <th>{{ item.category }}</th>
                        <th><a href="/copy_course?id={{ item.id }}">Копировать</a></th>
                        <th><a href="/edit_course?id={{ item.id }}">Редактировать</a></th>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>--------</th>
                    <th>--------</th>
                    <th>--------</th>
                    <th>--------</th>
                    <th>--------</th>
                </tr>
            {% endif %}
        </table>
        <hr>
        <h1>Студенты</h1>
        <h3><a href="/create_student">Добавить студента</a></h3>
        <table>
            <tr class="head">
                <th>ID</th>
                <th>Person</th>
                <th>Courses</th>
                <th></th>
            </tr>
            {% if object_list[0]['students'] %}
                {% for item in object_list[0]['students'] %}
                    <tr>
                        <th>{{ item.id }}</th>
                        <th>{{ item.name }}</th>
                        <th>--------</th>
                        <th><a href="/student_details?student_id={{ item.id }}&status=select">Личный кабинет</a></th>
                    </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <th>--------</th>
                    <th>--------</th>
                    <th>--------</th>
                    <th>--------</th>
                </tr>
            {% endif %}
        </table>
{% endblock %}