{% extends "base.html" %}
{% block content %}
        <h1>{{ object_list[0]['content'] }}</h1>
        <p>-------------------------------------------------</p>
        <!--p>Расписание на дату: {{date}} <b>(дата подставляется шаблоном)</b></p-->
        <form action="" method="post">
            <fieldset>
                <legend>Введите сообщение</legend>
                <p>
                    <label class="title" for="name">Ваше имя:</label>
                    <input type="text" name="name" id="name">
                    <br/>
                    <label class="title" for="email">Ваш email:</label>
                    <input type="text" name="email" id="email">
                    <label class="title" for="message">Введите сообщение:</label>
                    <textarea name="message" id="" cols="30" rows="10"></textarea>
                </p>
            </fieldset>
            <div class="submit"><input type="submit" value="Регистрация"/></div>
        </form>
        <p>-------------------------------------------------</p>
{% endblock %}